.pio/
.vscode/
__pycache__/
settings
Debug
*.py[cod]
*$py.class
*__pyc*/
*.DS_Store
*.autosave
*~
*#
Change*
CHANGE*
*.zip
*.7z
# README*
# COPY*
# *CONTRIBU*
# LICENSE*
# HACKING*
# Doxyfile
*.swp
*.lck
*.log
*.ewt
*.ewd
*.crf
*.dep
*.map
*.hex
*.bin
*bak
*.mk
*.lst
*.sct
*.elf
*.o
*.gbr
*.drl
*.ods
*.odg
*.tbl
*.xml
makefile
proj/